/* @英文版导航栏子菜单
*/
.submenu{
    float: unset;
    width: 200px;
    display: none;
}
.block {
    width: 370px;
    padding: 4px 0px 4px 0px;
    /* border: 1px solid black; */
    background-color: #fff;
}
.block > li {
    line-height: initial;
    text-align: center;
}
.block > li > a {
    line-height: 50px;
}
.submenu a:hover {
    color: #ff6700;
    text-decoration: underline;
}
.show .submenu{
    display: initial;
}